
<div class="jumbotron">
    <h1>Quizzes</h1>
    <p>Choose a Quiz and start playing with a friend!</p>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Game</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render partial: "quiz", collection: @quizzes %>
    </tr>
  </tbody>
</table>
