/* line 4, ../../app/styles/main.scss */
.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

/* line 10, ../../app/styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* line 18, ../../app/styles/main.scss */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 24, ../../app/styles/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 32, ../../app/styles/main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
}
/* line 36, ../../app/styles/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 45, ../../app/styles/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 51, ../../app/styles/main.scss */
.wordwrap {
  /* wrap long text and urls */
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  word-wrap: break-word;
  /* IE 5+ */
}

/* line 63, ../../app/styles/main.scss */
.vertical_divider:after {
  background: #d3d3d3;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
}

/* line 74, ../../app/styles/main.scss */
.easy {
  background-color: green;
}

/* line 78, ../../app/styles/main.scss */
.medium {
  background-color: yellow;
}

/* line 82, ../../app/styles/main.scss */
.hard {
  background-color: red;
}

/* line 89, ../../app/styles/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 94, ../../app/styles/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
/* line 98, ../../app/styles/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 105, ../../app/styles/main.scss */
.marketing {
  margin: 40px 0;
}
/* line 108, ../../app/styles/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 115, ../../app/styles/main.scss */
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  /* line 120, ../../app/styles/main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 127, ../../app/styles/main.scss */
  .header {
    margin-bottom: 40px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 131, ../../app/styles/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
